#menu-icon {
    margin: 0 15px 0 0;
}

#content-container {
    margin-top: 100px;
}

.dogGallery img {
    padding-bottom: 15px;
}

.dogGallery:hover {
    border: solid 1px rgb(173, 173, 173);
    -moz-box-shadow: 5px 5px 5px rgb(109, 108, 108);
    -webkit-box-shadow: 5px 5px 5px rgb(109, 108, 108);
    box-shadow: 5px 5px 5px rgb(109, 108, 108);
}