
    </div>  <!-- end of container -->

    <div class="ui bottom fixed menu">
        <div class="item">
            &copy; 2018 RESTful Dogs
        </div>
        <a class="item">Adopt a Dog</a>
    </div>

    </body>
</html>