<div class="ui top fixed stackable menu">
    <a href="/">
        <div class="header item">
                <i id="menu-icon" class="fa fa-paw fa-3x" aria-hidden="true"></i>
                RESTful Dogs
        </div>
    </a>
    <a class="item">
        Adopt Today!
    </a>
</div>